/*******************************
            Global
*******************************/
html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

p {
  color: #7C7C7C;
}


.button {
  background-color: #4DAF7C;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
}

.button:hover {
  opacity: .8;
}

/* utils */
.txt__color-primary {
  color: #4DAF7C;
}

.container {
  max-width: 1200px;
}


/*******************************
              Page
*******************************/
nav {
  padding: 20px 0px;
}

.hero {
  background-color: #DFF1E8;
  min-height: 600px;
}

.container__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero__left {
  flex: 0 1 50%;
}

.hero__right {
  align-self: flex-end;
  flex: 0 1 50%;
}

.hero__right img {
  width: 100%;
}

.hero__left h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5;
}

.hero__left p {
  padding: 0px 0 62px 0;
  max-width: 400px;
  font-size: 19px;
  line-height: 1.7;
  font-weight: 200;
  margin: 0;
}



.page {
  margin-top: 100px;
}

.container__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 73px 0px;
}

.card {
  flex: 0 1 340px;
  box-shadow: 0px 3px 8px #ddd;
  min-height: 414px;
}

.card:hover {
  box-shadow: 0px 3px 8px #000;
  transition: all .3s;
  cursor: pointer;
}

.card__img {
  background-color: #2C2E30;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 220px;
}

.card__content {
  padding: 20px 30px;
}

.cta__container {
  margin-top: 100px;
  background-image: url('./images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  min-height: 250px;
  display: flex;
  justify-content: center;
}

.cta {
  flex: 1 1 50%;
  font-size: 1.5rem;
  text-align: center;
}

.card__content p {
  font-size: 1.2rem;
}

.cta__left {
  position: relative;
}

.cta__left::after {
  content: "";
  display: block;
  border-right: 2px solid #000;
  opacity: 0.1;
  height: 132px;
  position: absolute;
  right: 0;
  top: 0;
}

.cta span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cta p {
  max-width: 282px;
  display: inline-block;
}

footer {
  background-color: #202327;
  height: 60px;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.container__footer span {
  padding-left: 20px;
  color: #7C7C7C;
}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
.card {
    flex: 0 1 290px;
  }
}


/* Tablet */
@media screen and (max-width: 1024px) {
  .hero {
    min-height: 500px;
  }

  .hero__left h1 {
    font-size: 2.5em;
  }

  .hero__left p {
    font-size: 1.1em;
  }

  .hero__right {
    align-self: center;
  }
  
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .hero__left {
    flex: 0 1 100%;
  }
  .hero__left h1 {
    /* max-width: 300px; */
  }
  .hero__right {
    display: none;
  }
  .card {
    flex: 0 1 100%;
  }
}
